<% layout('layouts/boilerplate')%>

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="row">
        <div class="col-lg-6 col-12 mb-4">
            <div class="content text-center">
                <a class="aTag mb-3" href="https://slapp.longrunner.co.uk">
                    <img src="/images/slapp.png" alt="#">
                    <h1>Shopping List App</h1>
                    <h3>Create your meals</h3>
                    <h3>Add ingredients</h3>
                    <h3>Choose your meals for the week</h3>
                    <h3>Create your personalized weekly shopping list</h3>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="content text-center">
                <a class="aTag mb-3" href="https://quiz.longrunner.co.uk">
                    <img src="/images/quiz.png" alt="#">
                <h1>longrunner quiz</h1>
                <h3>Take a general knowledge quiz</h3>
                <h3>Play on your own or with friends</h3>
                <h3>Choose between 10 - 50 questions</h3>
                <h3>Choose your difficulty</h3>
                </a>
            </div>
        </div>
    </div>
</div>

