<header class="footer bg-dark py-3" id="authNav">
    <div class="container">
        <div class="d-flex justify-content-between">
            <span><a class="mr-2" href="/policy/tandc">T&Cs</a></span>
            <span><a href="/policy/cookie-policy">Cookie Policy</a></span>
        </div>
    </div>
</header>