{% macro footer() %}
<footer class="footer mt-auto bg-secondary text-white py-2">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left-aligned links -->
            <div class="col-auto">
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link text-white text-decoration-none" href="https://github.com/hutchybop/voxMate/tree/main">GitHub</a></li>
                    <li><a class="footer-link text-white text-decoration-none" href="#">About</a></li>
                </ul>
            </div>
            
            <!-- Right-aligned links -->
            <div class="col-auto">
                <ul class="list-unstyled mb-0 text-end">
                    <li><a class="footer-link text-white text-decoration-none" href="#">T&Cs</a></li>
                    <li><a class="footer-link text-white text-decoration-none" href="#">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% endmacro %} 