{% macro header(_id, email) %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img class="d-inline-block align-text-top" src="static/images/voxMate.png" alt="voxMate Logo">
        </a>
        
        <!-- Mobile toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Main nav links -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Config</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Spotify Setup</a></li>
            </ul>
            
            <!-- Divider -->
            <hr class="d-lg-none my-2 mx-2 text-white-50">
            
            <!-- User menu - properly styled -->
            <ul class="navbar-nav">
                {% if email %}  
                    <li class="nav-item">
                        <span class="nav-link text-white">Logged in as {{ email }}</span>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endmacro %}