body {
    font-family: "Ubuntu", sans-serif;
    min-height: 100vh;
}

.navbar-brand img {
    height: 2.5rem; /* Adjust this value as needed */
    width: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Makes the logo circular - adjust as needed */
    object-fit: contain; /* Ensures the image fits properly */
    transition: all 0.3s ease; /* Smooth hover effect */
}

/* Logo hover effect */
.navbar-brand img:hover {
    transform: scale(1.10);
}

.nav-link:hover:not(.no-transform) {
    transform: scale(1.10);
    transition: all 0.3s ease;
    color: #adb5bd !important;
}

.footer-link {
    display: inline-block;
    transition: transform 0.3s ease; /* More specific than 'all' */
}

.footer-link:hover {
    transform: scale(1.10);
    color: #adb5bd !important;
}

.card-shadow-left-bottom {
    box-shadow: -4px 4px 8px rgba(248, 26, 26, 0.8);
}

.form__link {
  color: rgba(248, 26, 26, 0.8); /* Bootstrap's primary */
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px dashed rgba(248, 26, 26, 0.8);
  transition: color 0.2s ease, border-color 0.2s ease;
}

.form__link:hover {
  color: #0a58ca; /* Slightly darker */
  border-bottom-color: #0a58ca;
  text-decoration: none;
}