{% extends "layouts/boilerplate.html" %}

{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mt-5">Welcome to voxMate</h1>
            <p class="lead">Your one-stop solution for voice-based applications.</p>
            <p>Use the options below to fine tune voxMate</p>
            <p>This is settings.html</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Silence Detection
                    </h5>
                    <hr>
                    <p class="card-text">
                        Configure the silence detection. Once you have finished asking a question, 
                        this setting will dictate how quiet the audio must be before the question is considered complete.
                    </p>
                    <div class="container mt-5">
                        <form>
                            <div class="mb-3">
                            <label for="noiseLevel" class="form-label">Noise Level</label>
                            <input type="range" class="form-range" id="noiseLevel" min="0" max="100">
                            <div class="d-flex justify-content-between">
                                <small>Quiet</small>
                                <small>Noisy</small>
                            </div>
                            </div>
                        </form>
                    </div>

                
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}