{% extends "layouts/boilerplate.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/policy.css') }}" />
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h2 id="cookieTop" class="cardTitles">Cookie Policy</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h4 class="cardHeadings">What Are Cookies?</h4>
                            <div class="cardBodies">
                                Cookies are small text files stored on your device by websites that you visit. 
                                They are widely used to make websites work more efficiently, 
                                as well as to provide information to the site owners.
                            </div>
                        </li>
                        <li class="list-group-item">

                            <h4 class="cardHeadings">How We Use Cookies</h4>

                            <div class="cardSubHeadings sub_heading">Essential Cookies:</div>
                            <div class="cardBodies">
                                Our website uses essential cookies that are necessary for the operation of the site. 
                                These cookies enable core functionality such as security, network management, and accessibility. 
                                You may disable these by changing your browser settings, but this may affect how the website functions.
                            </div>

                            <div class="d-block ms-3">

                            </div>

                            <div class="ms-4 mt-2">
                                <div class="cardSubHeadings info_heading">
                                    Cookie Name:
                                </div>
                                <div class="cardBodies">
                                    <span class="d-block ms-3">voxmate_session</span> 
                                </div>

                                <div class="cardSubHeadings info_heading">
                                    Purpose:
                                </div>
                                <div class="cardBodies">
                                    <span class="d-block ms-3">
                                        This session cookie is used to manage your login state and ensure secure 
                                        access to the web app features, including updating voxMate settings and 
                                        configuring Spotify integration.
                                    </span>
                                </div>

                                <div class="cardSubHeadings info_heading">
                                    Duration:
                                </div>
                                <div class="cardBodies">
                                    <span class="d-block ms-3">
                                        This cookie is a session cookie and is valid for 48 hours.
                                    </span>
                                </div>
                            </div>

                            <div class="cardSubHeadings mt-3 sub_heading">Local Storage:</div>

                            <div class="cardBodies">
                                We also use local storage to enhance your experience by 
                                remembering whether you have seen the cookie consent alert.
                            </div>
                            <div class="ms-4 mt-2">
                                <div class="cardSubHeadings info_heading">
                                    Key:
                                </div>
                                <div class="cardBodies">
                                    <span class="d-block ms-3">'hasVisited'</span>
                                </div>
                                <div class="cardSubHeadings info_heading">
                                    Purpose:
                                </div>
                                <div class="cardBodies">
                                    <span class="d-block ms-3">
                                        This boolean value is used to determine whether to 
                                        show the cookie consent alert to users. It helps in 
                                        ensuring that you are informed about our cookie usage only once, 
                                        improving your user experience.
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="cardHeadings">Third-Party Cookies</h4>
                            <div class="cardBodies">
                                We do not use any third-party cookies or tracking services. No cookie data or 
                                personal information is shared with external providers.
                            </div>
                        </li>

                        </li>
                        <li class="list-group-item">
                            <h4 class="cardHeadings">User Consent</h4>
                            <div class="cardBodies">
                                By continuing to use our website, you consent to the 
                                use of these essential cookies. These cookies are necessary for 
                                the functionality of the website, and opting out may hinder your 
                                ability to use certain features.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="cardHeadings">Managing Cookies</h4>
                            <div class="cardBodies">
                                Since the cookies we use are essential for the functionality of 
                                the website, we do not provide an option to disable them through 
                                our site. However, you can manage cookies through your browser 
                                settings. Please note that disabling cookies in your browser may 
                                affect the functionality of our website.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="cardHeadings">Changes to This Policy</h4>
                            <div class="cardBodies">
                                We may update our Cookie Policy from time to time to reflect changes 
                                in our practices or for other operational, legal, or regulatory reasons. 
                                Please review this policy regularly to stay informed about our use of cookies.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}