<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h2 id="cookieTop" class="cardTitles">Cookie Policy</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h4 class="cardHeadings">What Are Cookies?</h4>
                            <div class="cardBodies">
                                Cookies are small text files stored on your device by websites that you visit. 
                                They are widely used to make websites work more efficiently, 
                                as well as to provide information to the site owners.
                            </div>
                        </li>
                        <li class="list-group-item">

                            <h4 class="cardHeadings">How We Use Cookies</h4>

                            <div class="cardSubHeadings">Essential Cookies:</div>
                            <div class="cardBodies">
                                longrunner.co.uk does not use directly use cookies. However the subdomains 
                                <a href="https://slapp.longrunner.co.uk" target="_blank" rel="noopener noreferrer">slapp.longrunner.co.uk</a> and 
                                <a href="https://quiz.longrunner.co.uk" target="_blank" rel="noopener noreferrer">quiz.longrunner.co.uk</a> do, which have thier own
                                cookie policies at 
                                <a href="https://slapp.longrunner.co.uk/policy/cookie-policy" target="_blank" rel="noopener noreferrer">shopping list application cookie policy</a>
                                and <a href="https://quiz.longrunner.co.uk/cookie-policy#cookieTop" target="_blank" rel="noopener noreferrer">quiz application cookie policy</a>.
                                These essential cookies that are necessary for the operation of the site. 
                                These cookies enable core functionality such as security, network management, and 
                                accessibility. Disabling these cookies through your browser settings may affect how the website functions.
                            </div>

                            
                            <div class="cardSubHeadings mt-3">Local Storage:</div>

                            <div class="cardBodies">
                                We also use local storage to enhance your experience by 
                                remembering whether you have seen the cookie consent alert.
                            </div>
                            <div class="ml-4 mt-2">
                                <div class="cardSubHeadings">
                                    Key:
                                </div>
                                <div class="cardBodies">
                                    'hasVisited'
                                </div>
                                <div class="cardSubHeadings">
                                    Purpose:
                                </div>
                                <div class="cardBodies">
                                    This boolean value is used to determine whether to 
                                    show the cookie consent alert to users. It helps in 
                                    ensuring that you are informed about our cookie usage only once, 
                                    improving your user experience.
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="cardHeadings">Third-Party Cookies</h4>
                            <div class="cardBodies">
                                We use third-party cookies on our site in connection with Google reCAPTCHA, 
                                a service that helps us prevent spam and abuse on our website.
                            </div>
                            <div class="ml-4 mt-2">
                                <div class="cardSubHeadings">
                                    Service:
                                </div>
                                <div class="cardBodies">
                                    Google reCAPTCHA
                                </div>
                                <div class="cardSubHeadings">
                                    Purpose:
                                </div>
                                <div class="cardBodies">
                                    Google reCAPTCHA is used to protect our site from spam and abuse. It collects 
                                    information about users in order to determine whether they are human or bots. This 
                                    information is used to create a more secure environment for our users.
                                </div>
                                <div class="cardSubHeadings">
                                    Data Collected:
                                </div>
                                <div class="cardBodies">
                                    Google reCAPTCHA may collect information such as your IP address, user behavior 
                                    (e.g., mouse movements), and other data required by Google to provide the reCAPTCHA service.
                                    For more information on how Google uses cookies and the data it collects, please refer 
                                    to Google's <a href="https://policies.google.com/privacy?hl=en-US" target="_blank" rel="noopener noreferrer">Privacy Policy</a> and 
                                    <a href="https://policies.google.com/terms?hl=en-US" target="_blank" rel="noopener noreferrer">Terms of Service</a>.
                                </div>
                                <div class="cardSubHeadings">
                                    Duration:
                                </div>
                                <div class="cardBodies">
                                    The cookies set by Google reCAPTCHA vary, with some being session cookies that expire when 
                                    you close your browser, while others may persist for up to two years.
                                </div>
                            </div>

                            <br>

                            <div class="ml-4 mt-2">
                                <div class="cardSubHeadings">
                                    Service:
                                </div>
                                <div class="cardBodies">
                                    FontAwesome
                                </div>
                                <div class="cardSubHeadings">
                                    Purpose:
                                </div>
                                <div class="cardBodies">
                                    FontAwesome is used to display icons on the site. While FontAwesome itself does not 
                                    typically set cookies, it may use your IP address and other data for loading content efficiently.
                                </div>
                                <div class="cardSubHeadings">
                                    Data Collected:
                                </div>
                                <div class="cardBodies">
                                    FontAwesome may collect your IP address to optimize content delivery.
                                    For more details, please refer to 
                                    <a href="https://fontawesome.com/privacy" target="_blank" rel="noopener noreferrer">FontAwesome's Privacy Policy</a>.
                                </div>
                            </div>

                            <br>

                            <div class="ml-4 mt-2">
                                <div class="cardSubHeadings">
                                    Service:
                                </div>
                                <div class="cardBodies">
                                    Google APIs and other CDNs (StackPath, jsDelivr, etc.)
                                </div>
                                <div class="cardSubHeadings">
                                    Purpose:
                                </div>
                                <div class="cardBodies">
                                    We use content delivery networks (CDNs) like Google APIs, StackPath, and jsDelivr to provide 
                                    fast and efficient delivery of scripts and styles to improve website performance.
                                </div>
                                <div class="cardSubHeadings">
                                    Data Collected:
                                </div>
                                <div class="cardBodies">
                                    These services may collect your IP address to optimize delivery of website content.
                                    For more details, refer to the respective privacy policies: 
                                    <a href="https://policies.google.com/privacy?hl=en-US" target="_blank" rel="noopener noreferrer">Google</a>, StackPath, and jsDelivr.
                                    <a href="https://store.stackpath.com/privacy.aspx" target="_blank" rel="noopener noreferrer">StackPath</a> and jsDelivr.
                                    <a href="https://www.jsdelivr.com/documentation" target="_blank" rel="noopener noreferrer">jsDelivr</a>.
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">User Consent</h4>
                            <div class="cardBodies">
                                By continuing to use our website, you consent to the 
                                use of these essential cookies. These cookies are necessary for 
                                the functionality of the website, and opting out may hinder your 
                                ability to use certain features.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="cardHeadings">Managing Cookies</h4>
                            <div class="cardBodies">
                                Since the cookies we use are essential for the functionality of 
                                the website, we do not provide an option to disable them through 
                                our site. However, you can manage cookies through your browser 
                                settings. Please note that disabling cookies in your browser may 
                                affect the functionality of our website.
                            </div>
                        </li>
                        <li class="list-group-item">
                            <h4 class="cardHeadings">Changes to This Policy</h4>
                            <div class="cardBodies">
                                We may update our Cookie Policy from time to time to reflect changes 
                                in our practices or for other operational, legal, or regulatory reasons. 
                                Please review this policy regularly to stay informed about our use of cookies.
                            </div>
                        </li>
                    </ul>
                </div>
                <a id="backBtn" class="btn btn-primary" href="/">Back</a>
            </div>
        </div>
    </div>
</div>