<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h2 id="tancTop" class="cardTitles">Terms and Conditions</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <h4 class="cardHeadings">Introduction</h4>
                            <div class="cardBodies">
                                Welcome to longrunner.co.uk. By accessing and using our website, you agree to comply with and be 
                                bound by these Terms and Conditions. Please read them carefully.
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">About the Website</h4>
                            <div class="cardBodies">
                                longrunner.co.uk is a personal website were users can choose to go to my
                                <a href="https://slapp.longrunner.co.uk" target="_blank" rel="noopener noreferrer">shopping List application</a>, which has it's own 
                                <a href="https://slapp.longrunner.co.uk/policy/tandc" target="_blank" rel="noopener noreferrer">Terms and Conditions</a> or my
                                <a href="https://quiz.longrunner.co.uk" target="_blank" rel="noopener noreferrer">quiz application</a>, which also has it's own 
                                <a href="https://quiz.longrunner.co.uk/tandc#tandcTop" target="_blank" rel="noopener noreferrer">Terms and Conditions</a>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">User Obligations</h4>
                            <div class="ml-4 mt-2">
                                <div class="cardSubHeadings">
                                    Appropriate Use:
                                </div>
                                <div class="cardBodies">
                                    Use the website responsibly and respect other users. You agree not to engage in any behavior that 
                                    disrupts the experience for others or compromises the security and integrity of the website.
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">Intellectual Property</h4>
                            <div class="cardBodies">
                                The content, design, and code of longrunner.co.uk are owned by the website creator. You may not reproduce, 
                                distribute, or use any part of the website or its content without prior written consent.
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">Data Protection</h4>
                            <div class="cardBodies">
                                We do not collect any personal data from users directly, except as necessary to operate the site. However, 
                                our website uses cookies for essential functionality, including third-party cookies from Google to implement 
                                reCAPTCHA for security purposes. These cookies help protect our website from spam and abuse by verifying that 
                                users are human and not automated bots.
                            </div>
                            <div class="cardBodies">
                            Our use of cookies is detailed in our <a href="/policy/cookie-policy" target="_blank" rel="noopener noreferrer">Cookie Policy</a>. By using our website, you consent 
                                to the use of these cookies, including the third-party cookies from Google as described.
                            </div>
                            <div class="cardBodies">
                                Please note that Google may collect information via these cookies as part of the reCAPTCHA service. For more 
                                details on how Google collects and processes data, please refer to Google's 
                                <a href="https://policies.google.com/privacy?hl=en-US" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">Limitation of Liability</h4>
                            <div class="cardBodies">
                                longrunner.co.uk is provided on an "as is" basis. We make no warranties or representations, 
                                express or implied, regarding the website’s availability, functionality, or accuracy of content. 
                                We are not liable for any direct, indirect, incidental, or consequential damages arising from your use of the website. 
                                Additionally, the website may be taken down or modified at any time without prior notice, and you should not rely on its 
                                continued availability.
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">Dispute Resolution</h4>
                            <div class="cardBodies">
                                These Terms and Conditions are governed by and construed in accordance with the laws of the United Kingdom. Any 
                                disputes arising out of or in connection with these terms shall be subject to the exclusive jurisdiction 
                                of the courts of the United Kingdom.
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">Changes to Terms</h4>
                            <div class="cardBodies">
                                We reserve the right to modify these Terms and Conditions at any time. Any changes will be posted on this 
                                page with an updated effective date. It is your responsibility to review these Terms periodically.
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h4 class="cardHeadings">Contact Us</h4>
                            <div class="cardBodies">
                                For any questions or concerns regarding these Terms and Conditions, please contact us through the 
                                contact form located on the 
                                <a href="https://slapp.longrunner.co.uk/policy/tandc#contactForm" target="_blank" rel="noopener noreferrer">shopping list application</a> or
                            <a href="https://quiz.longrunner.co.uk/tandc#contactForm" target="_blank" rel="noopener noreferrer">quiz application</a>.
                            </div>
                        </li>

                    </ul>
                </div>

                <a id="backBtn" class="btn btn-primary" href="/">Back</a>

            </div>
        </div>
    </div>
</div>